{{page-title "Missions"}}

<h2>Space Missions</h2>

{{!-- <ul>
  {{#each @model as |mission|}}
    <li>
      <strong>{{mission}}</strong>
      <br />
      <LinkTo @route="mission" @model={{mission}}>View Details</LinkTo>
    </li>
  {{/each}}
</ul> --}}
<div class="missions-list">
  {{#each @model as |mission|}}
    <div class="mission-item">
      <LinkTo @route="mission" @model={{mission}}>{{mission}}</LinkTo>
    </div>
  {{/each}}
</div>